<h3>Please check the information before submitting</h3>
<div>
  {{employee.name}}
</div>
<div>

  {{employee.email}}
  <!-- <label for="email">Email:</label>
  <input type="email" [(ngModel)]="employee.email" name="email" id="email"> -->
</div>
<div>
  {{employee.dateOfBirth}}
  <!-- <label for="dateOfBirth">Date of Birth:</label>
  <input type="text" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" id="dateOfBirth"> -->
</div>
<!-- <div>
  <label for="department">Department:</label>
  <input type="text" [(ngModel)]="employee.department" name="department" id="department">
</div>
<button class="btn btn-primary">SAVE</button> -->
